@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */
.main-bg-color {
    background-color: #1A0B2E;

}


.btn-primary {
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border-radius: 10000px;
    background: linear-gradient(30deg,
            #F7E93F 0%,
            #FB09B4 51%,
            #9100F8 100%);
}

.display-flex {
    display: flex;
}

.linear {
    background: linear-gradient(135deg,
            #F7E93F 0%,
            #FB09B4 51%,
            #9100F8 100%);
    color: transparent;
    background-clip: text;
}

.white {
    color: #FFFFFF;
}




/* main style */

/* nav styles */
nav {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 34px;
    padding-bottom: 34px;
    align-items: center;
    justify-content: space-around;

}

nav .hamburger {
    display: none;
}


.menu {
    gap: 34px;
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
}

/* banner-section */

.banner {
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 760px;
    background-size: cover;
    background-position: center;
    border-top: 1px solid #412567;
}



.bg-container {
    max-width: 550px;
    padding-top: 34px;
    margin: 0 auto;
}

.bg-container .bg {
    position: relative;
    background: url(../assets/hero-circle.png);
    background-repeat: no-repeat;
    width: 350px;
    height: 350px;
    background-size: contain;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

}

.bg-container .bg img {
    max-width: 200px;
    height: auto;
}

.banner-textcontent {
    text-align: center;

}

/* badge */
#new {
    position: absolute;
    top: 16px;
    right: 16px;
    padding: 8px 16px;
    border: none;
    border-radius: 1000px;
    font-size: 1rem;
    font-weight: 600;
    background-color: #00FF88;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);

}

/* text-content */
.content h1 {
    color: white;
    margin: 40px 0px 8px 0px;
    font-size: 3.8rem;
    font-weight: 700;

}

.content p {
    color: white;
    margin-bottom: 24px;
    font-size: 1rem;

}

.green-btn {
    font-size: 16px;
    font-weight: 600;
    color: #00FF88;
    background: transparent;
    border: 1px solid rgba(0, 255, 136, 1);
    border-radius: 1000px;
    padding: 12px 20px;
}

.hide {
    display: none;
}




/* about-section */
#about-scection {
    padding: 50px 200px 120px 200px;
}
.about-container{
    max-width: 1200px;
    margin:0 auto;
}

.about-textcontent {
    text-align: center;

}

.about-textcontent h2 {
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.about-textcontent p {
    font-size: 1rem;
    line-height: 20px;
    color: #ffffff9a;
}


.about-textcontent .para-2 {
    font-size: 1rem;
    margin-top: 20px;
}

.about-textcontent hr {
    margin-bottom: 80px;
    margin-top: 80px;
    border: 1px solid #ffffff5b;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.card {
    width: 240px;
    text-align: center;
    padding-right: 110px;
}

.card h2 {
    color: #00FF88;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.card p {
    font-size: 1rem;
    color: #FFFFFF;
}


/* why choose us section */

#why-choose{
    background-color:#230E3D;
}
#why-choose .heading{
   color: white;
   font-size: 3rem;
   text-align: center;
   font-weight: 700;
   padding-top: 120px;
   margin-bottom: 40px;
}
.feature-card-container{
    max-width: 1200px;
    margin: 0 auto;
    gap: 30px;
    display: grid;
    padding-bottom: 120px;
    grid-template-areas: 
    "card-1 card-2  card-2 "
    "card-1 card-3 card-3 "
    "card-4  card-4 card-5"

}
.card-1{
    grid-area:card-1;
}
.card-2{
    grid-area:card-2;
}
.card-3{
    grid-area:card-3;
}
.card-4{
    grid-area: card-4;
}
.card-5{
    grid-area: card-5;
}

.feature-card{
    padding:40px;
    border: none;
    border-radius: 40px;
    background-color:rgba(53, 17, 101, 0.4);
     box-shadow: 0px 3px 27px 0px rgba(17, 30, 218, 0.075);
}
.feature-card h2 {
    font-size: 1.5rem;
    color: #FFFFFF;
    margin: 16px 0 16px 0;

}
.feature-card p {
    font-size: 1rem;
    color: #ffffff96;
    line-height: 24px;

}
/* feature-episode-section */

#feature-episode .main-heading{
    text-align: center;
    color:#FFFFFF;
    font-size: 3rem;
    padding: 120px 0px 40px 0px;
}

.episode-card-container{
    max-width:1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:30px;
}

.episode-card{
   background-color: #250D44;
    border-radius: 20px;
    
}

.card-text-content{
    padding: 24px;
}
.card-text-content h3{
    font-size: 1.5rem;
    color: #FFFFFF;
    margin-bottom:12px;
  
}
.card-text-content h4{
    font-size: 1rem;
    color: #00FF88;
 ;
  
}
.card-text-content p{
    font-size: 1rem;
    line-height: 24px;
    color: #ffffffbb;
    margin-bottom:12px;
  
}
.episode-card iframe{
    border-radius: 20px;
}

/* footer section  */
footer {
    margin-top: 120px;
    background: url(../assets/footer-bg.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 412px;
    background-size: cover;
    background-position: center;

}

.footer-container {
    max-width: 1360px;
    margin: 0 auto;
    padding: 120px;
    text-align: center;
}

.footer-container h1 {
    font-size: 4rem;
    margin-bottom: 11px;

}

.link-container {
    max-width: 544px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin: 0 auto;
    align-items: center;
}

.link-container a {
    color: #fafafaa4;
    text-decoration: none;
}

.copyright {
    color: #fafafa9d;
    padding-top: 32px;
}






/* responsive styels */
@media screen and (max-width:576px) {

    /* nav bar */
    .menu,
    .subscribe {
        display: none;
    }

    nav {
        justify-content: space-around;
    }

    nav .hamburger {
        display: contents;
    }

    .logo {
        margin-left: 10px;
    }

    /* banner section */
    .banner {
        padding-top: 0.8em;
        height: auto;
        background-size: contain;
        background-position: top center;
    }

    .bg-container {
        padding-top: 0px;
        max-width: 100%;
    }

    .bg-container .bg {
        width: 35vw;
        height: 35vw;
    }

    .bg-container .bg img {
        width: 10vw;
        height: auto;
    }

    #new {
        top: 1px;
        right: -18px;
        font-size: 0.8rem;
    }


    .content h1 {
        font-size: 2.5rem;
    }

    .btn-primary {
        font-size: 0.8rem;
        padding: 12px;
    }

    .green-btn {
        margin-left: 10px;
    }

    /* about-section */
    #about-scection {
        padding: 0;
    }

    .about-textcontent h2 {
        margin-top: 40px;
        font-size: 2rem;
    }

    .about-textcontent p,
    .para-2 {
        width: 100%;

    }
    .card {
        padding: 0;
        width: 100%;
    }
    .card-container{
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
        margin-bottom: 20px;
    
        
    }
    .card h2 {
    font-size: 2rem;
    
}

/* why choose us section */
.feature-card-container{

   
    gap: 30px;
    display: grid;
    padding-bottom: 120px;

    grid-template-areas: 
    "card-1"
    "card-2"
    "card-3"
    "card-4"
    "card-5"

}
#why-choose .heading{
   font-size: 2rem;
   padding-top: 30px;
}

.feature-card-container{
    padding: 24px 20px;
}





    /* footer-section */
    footer {
        background-size: contain;
    }

    footer .footer-container {
        padding: 40px 20px;
    }

    .link-container {
        max-width: 255px;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 16px;
        padding: 60px 60px;
        margin-top: 24px;
        justify-content: center;

    }

    .footer-container h1 {
        font-size: 3rem;

    }

    .footer-container .copyright {
        color: #fafafa9d;
        padding: 0px;

    }

}