@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */
.main-bg-color {
    background-color: #1A0B2E;

}


.btn-primary {
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border-radius: 10000px;
    background: linear-gradient(30deg,
            #F7E93F 0%,
            #FB09B4 51%,
            #9100F8 100%);
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

.display-flex {
    display: flex;
}

.linear {
    background: linear-gradient(135deg,
            #F7E93F 0%,
            #FB09B4 51%,
            #9100F8 100%);
    color: transparent;
    background-clip: text;
}
.white {
    color: #FFFFFF;
}





/* main style */

/* nav styles */
nav {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 34px;
    padding-bottom: 34px;
    align-items: center;
    justify-content: space-around;

}

nav .hamburger {
    display: none;
}


.menu {
    gap: 34px;
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
}

/* banner-section */

.banner {
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 760px;
    background-size: cover;
    background-position: center;
    border-top: 1px solid #412567;
}



.bg-container {
    max-width: 550px;
    padding-top: 34px;
    margin: 0 auto;
}

.bg-container .bg {
    position: relative;
    background: url(../assets/hero-circle.png);
    background-repeat: no-repeat;
    width: 350px;
    height: 350px;
    background-size: contain;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

}

.bg-container .bg img {
    max-width: 200px;
    height: auto;
}

.banner-textcontent {
    text-align: center;

}

/* badge */
#new {
    position: absolute;
    top: 16px;
    right: 16px;
    padding: 8px 16px;
    border: none;
    border-radius: 1000px;
    font-size: 1rem;
    font-weight: 600;
    background-color: #00FF88;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);

}

/* text-content */
.content h1 {
    color: white;
    margin: 40px 0px 8px 0px;
    font-size: 3.8rem;
    font-weight: 700;

}

.content p {
    color: white;
    margin-bottom: 24px;
    font-size: 1rem;

}

.green-btn {
    font-size: 16px;
    font-weight: 600;
    color: #00FF88;
    background: transparent;
    border: 1px solid rgba(0, 255, 136, 1);
    border-radius: 1000px;
    padding: 12px 20px;
}

.hide{
    display:none;
}
/* footer section  */
footer{
    margin-top: 120px;
    background: url(../assets/footer-bg.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 412px;
    background-size: cover;
    background-position: center;

}

.footer-container{
    max-width: 1360px;
    margin: 0 auto;
    padding: 120px;
    text-align: center;
}
.footer-container h1{
    font-size: 4rem;
    margin-bottom: 11px;
 
}
.link-container {
    max-width:544px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:40px;
    margin: 0 auto;
   align-items: center;
}
.link-container a{
    color: #fafafaa4;
    text-decoration: none;
}
.copyright{
    color: #fafafa9d;
    padding-top:32px ;
}






/* responsive styels */
@media screen and (max-width:576px) {

    /* nav bar */
    .menu,
    .subscribe {
        display: none;
    }

    nav {
        justify-content: space-around;
    }

    nav .hamburger {
        display: contents;
    }

    .logo {
        margin-left: 10px;
    }

    /* banner section */
    .banner {
        padding-top: 0.8em;
        min-height: 100vh;
        background-size: contain;
        background-position: top center;
    }

    .bg-container {
        padding-top: 0px;
        max-width: 100%;
    }

    .bg-container .bg {
        width: 35vw;
        height: 35vw;
    }

    .bg-container .bg img {
        width: 10vw;
        height: auto;
    }
    #new {
    top: 1px;
    right: -18px;
    font-size: 0.8rem;
}


    .content h1 {
        font-size: 2.5rem;
    }
    .btn-primary{
        font-size: 0.8rem;
        padding: 12px;
    }
    .green-btn{
        margin-left: 10px;
    }






/* footer-section */
footer{
        background-size: contain;
}
footer .footer-container{
 padding: 40px 20px;
}
.link-container {
    max-width: 255px;
    grid-template-columns: repeat(2,1fr);
    column-gap:16px;
    padding: 60px 60px;
    margin-top: 24px;
    justify-content: center;
  
}
.footer-container h1{
    font-size: 3rem;
 
}
 .footer-container .copyright{
    color: #fafafa9d;
    padding:0px;
  
}
 
}