@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */
.main-bg-color {
    background-color: #1A0B2E;

}

.line {
    max-width: 100%;
    border-bottom: 1px solid #412567;
}

.btn-primary {
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border-radius: 10000px;
    background: linear-gradient(30deg,
            #F7E93F 0%,
            #FB09B4 51%,
            #9100F8 100%);
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

.display-flex {
    display: flex;
}






/* main style */

/* nav styles */
nav {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 34px;
    padding-bottom: 34px;
    align-items: center;
    justify-content: space-around;

}

nav .hamburger{
    display: none;
}
.logo .white {
    color: #FFFFFF;
}

.logo .linear {
    background: linear-gradient(135deg,
            #F7E93F 0%,
            #FB09B4 51%,
            #9100F8 100%);
    color: transparent;
    background-clip: text;
}

.menu {
    gap: 34px;
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;

}

/* banner-section */










/* responsive styels */
@media screen and (max-width:576px) {
    /* nav bar */
.menu , .subscribe{
    display: none;
    }
    nav{ 
    gap:180px;
    justify-content: left;
    }
    nav .hamburger{
        display: contents;
    }
    .logo{
        margin-left: 10px;
    }

    
}